h1{
  color:red;
  font-size: 25px;
  font-style: normal;
}
p{ 
  font-size:20px;
  color: blue;
  width:50%;
  display:block;

}
h2{font-size:30px;
  color: black;
display:block;
} 
#box{
display:inline-block;
width:50%;
}
#main{
  display:inline-block;
  width:30%;
}

iFrame{
  display:inline-block;
  width:40%;
}  
